* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

/* Navbar */
#navbar {
  height: 111px;
  background-color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid red 1px;
}

#logo {
  margin-left: 35px;
}

#navbar_menu a {
  font-size: 14px;
  padding: 0 15px;
  color: #424242;
}

#navbar_menu a:hover {

  border-radius: 1px;
  border-bottom: 2px solid #424242;
}

#but_cliente {
  margin-right: 35px;
} 
/* Fim Navbar */

#banner_info {
  width: 100%;
  height: 770px;
  background-image: url(/img/2_banner_01.svg);
  background-size: cover;

  border: solid red 1px;
}

#h1 {
  width: 587px;
  height: 337px;
}

.underline {
  text-decoration: underline #D5906B 5px;
}